body {
  background-color: lightgray;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  padding: 10px;
}

.pointer {cursor: pointer;}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-template-areas:
          "periodic TodoList calendar";
}
.TodoList { grid-area: TodoList; }
.calendar { grid-area: calendar; }
.periodic { grid-area: periodic; }